@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1.75rem;
  display: flex;
}

.logo-wrapper {
  margin: 1rem auto;
  width: 100%;
  max-width: 450px;
}

.logo {
  height: 1.25rem;
}

.hero-img {
  width: 100%;
}

.img-desktop {
  display: none;
}

.main {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 600px;
}

.heading-main {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 4rem, 4vw);
  text-align: center;
  padding: 4rem 0 1rem 0;
  letter-spacing: 1rem;
  line-height: 1;
  color: hsl(0, 6%, 24%);
  max-width: 450px;
  margin: 0 auto;
}

.heading-main-thin {
  display: block;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.body-copy {
  color: hsl(0, 36%, 70%);
  text-align: center;
  margin: 0 auto 2rem auto;
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 600;
  max-width: 450px;
}

.form {
  position: relative;
  margin: 2rem auto;
  max-width: 450px;
}

.form-input {
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 9999px;
  padding: 0.875rem 1.5rem;
  background-color: transparent;
  color: hsl(0, 36%, 70%);
  font-family: inherit;
  font-size: 0.875rem;
  width: 100%;
}

.form-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.825rem 1.625rem;
  border-radius: 9999px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 4px 6px -1px hsl(0, 36%, 70%);
  cursor: pointer;
  transition: opacity 300ms ease;
}

.form-button:hover,
.form-button:active {
  opacity: 0.6;
}

.error-icon {
  display: none;
  position: absolute;
  top: 1rem;
  left: 70%;
}

.error-message {
  display: none;
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
  color: hsl(0, 93%, 68%);
}

.form.error .form-input {
  border: 2px solid hsl(0, 93%, 68%);
}

.form.error .error-icon,
.form.error .error-message {
  display: block;
}

.attribution {
  font-size: 0.825rem;
  text-align: center;
  padding: 1rem;
  color: hsl(0, 6%, 24%);
}

.attribution-link {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  .container {
    background-image: url(./images/bg-pattern-desktop.svg);
    flex-direction: row;
  }

  .md-content-left {
    flex: 5;
  }

  .md-content-right {
    flex: 4;
  }

  .img-mobile {
    display: none;
  }

  .img-desktop {
    display: block;
  }

  .logo-wrapper {
    padding: 2rem 0;
  }

  .logo {
    height: 2rem;
  }

  .heading-main {
    text-align: left;
    padding: 4.5rem 0 2rem 0;
  }

  .body-copy {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 2.75rem;
    line-height: 1.7;
  }

  .form-input {
    font-size: 1rem;
    padding: 1.125rem 1.5rem;
  }

  .form-button {
    padding: 1.125rem 2.5rem;
  }

  .hero-img {
    height: 100%;
    object-fit: cover;
  }

  .text-center {
    text-align: center;
  }
}
